@CHARSET "ISO-8859-1";
body {
	background: url("../Resources/landscape.jpg") no-repeat center center fixed;
	background-size: cover;
	color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul.list-group {
	clear: both;
	display: block;
}

.list-group-item {
    float: left;
    width: 100px;
    text-align: center;
}

.content {
	clear: both;
	background:rgba(255,255,255,0.75);
}

.mainNav a {
	color: black !important;
}

.mainNav .disabled a {
	color: grey !important;
}

.mainNav .disabled a:hover {
	color: grey !important;
	font-style: normal !important;
}

#resume {
	padding-top: 15px;
}