@charset "ISO-8859-1";
/* general styles */
html, body {
  height: 100%;
  width: 100%;
}
/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}
/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.shade {
	background:rgba(255,255,255,0.75);
	color: #408080;
	padding: 10px;
	line-height: 1.25em;
}
/* additional sections */
#home {
  background: url(../Resources/landscape.jpg) no-repeat center center fixed;
  color: white;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}
#resume {
  background: url(../Resources/frontier.jpg) no-repeat center center fixed;
  height: auto;
  min-height: 100%;
  color: #ffffff;
  width: 100%
}
#resume .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}
#bio {
  background: #408080;
  color:white;
  height: auto;
  padding-bottom: 200px;
  position: relative;
  width: 100%;
}
#information .panel {
  opacity: 0.85;
}
#google_map {
  height: 500px;
}
#contact {
	background: #408080;
	height: 100%;
	width:100%;
	padding-bottom: 5px;
	padding-top: 150px;
}
footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

/*Styling for Contact form*/
.label {
	margin: 2px 15px;
}

.field {
	margin: 0px 30px 20px 0px;
}

.contentContainer {
	width: 90%;
	margin: 0 auto;
	padding: 15px;
}

div#central {
	margin: 40px 0px 100px 0px;
}

@media all and (min-width: 768px) and (max-width: 979px) {
	.content {
		width: 750px;
	}
}

@media all and (max-width: 767px) {
	body {
		margin: 0 auto;
		word-wrap: break-word
	}
	.content {
		width: auto;
	}
	div#central {
		margin: 40px 20px 100px 20px;
	}
}

@media (max-width: 450px) {
	.navbar-brand {
		font-size: .75em;
	}
}

@media (max-width: 960px) {
	.navbar-nav { display: none; }
	/*DROP DOWN BUTTON MENU*/
	.dropbtn {
	    background-color: #408080;
	    color: white;
	    padding: 16px;
	    font-size: 16px;
	    border: none;
	    cursor: pointer;
	    padding-left: 40px;
	    padding-right: 40px;
	}
	
	.dropdown {
	    position: relative;
	    display: inline-block !important;
	}
	
	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	    float: right;
	}
	
	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	}
	
	.dropdown:hover .dropdown-content {
	    display: block;
	}
	
	.dropdown:hover .dropbtn {
	    background-color: #eaf4f4e6;
	    color: black;
	    font-style: italic;
	}
}

input,textarea {
	width: 100%;
	padding: 15px;
	font-size: 1em;
	border: 1px solid #A1A1A1;
	border-radius: 4px;
}

#send-message {
	max-width: 200px;
	background: #70b8b8;
	border: none;
	color: rgb(40, 40, 40);
	font-size: 1em;
	cursor: pointer;
	border-radius: 4px;
}
#send-message:hover {
	background: #408080;
}

#message {
	padding: 0px 40px 0px 0px;
}

#mail-status {
	padding: 12px 20px;
	width: 100%;
	display: none;
	font-size: 1em;
	color: rgb(40, 40, 40);
}

.error {
	background-color: #F7902D;
	padding: 10px 0px 10px 10px;
    margin: 20px 0px 10px 0px;
    border-radius: 4px;
}

.success {
	background-color: #48e0a4;    
	padding: 10px 0px 10px 10px;
    margin: 20px 0px 10px 0px;
    border-radius: 4px;
}

/*STYLING FOR THE SLIDESHOW*/
/* Slideshow container */
.slideshow-container {
  height: 300px;
  width: 50%;
  max-width: 1000px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background: #284d4d;
  
}

.mySlides {
    display: none;
}

.mySlides img{
	height: auto;
	max-height:300px;
	width:auto;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	image-orientation: from-image;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*CUSTOM STYLING*/
#home h1{
	text-shadow: 2px 2px #808080;
}
#home h2,h3{
	text-shadow: 0.75px 0.75px #808080
}
#bio h2,h6{
	padding-left: 20px;
}
#footer p{
	background:rgba(255,255,255,0.75);
}
.content {
	clear: both;
	color: black;
	background:rgba(255,255,255,0.75);
	padding: 5px 5px 5px 5px;
}
.pageHead {
	padding-top: 50px;
}
#resumeLinks {
	padding-top: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


/*NAV STYLING*/
.navbar-fixed-top {
	position: fixed;
	background: rgba(234, 244, 244, 0.9);
	width: 100%;
	z-index: 100;
	top: 0px;
}



